The following example uses [ipython-sql](https://github.com/catherinedevlin/ipython-sql).
To install:  
pip install ipython-sql  

%sql is a Jupyter magic command and can be ignored when not using Jupyter notebooks.

### Configure SQL for Jupyter notebook

In [1]:
#Load sql
%load_ext sql
#connect to sqlite
%sql sqlite://

'Connected: @None'

### Create a table

In [2]:
%%sql
CREATE TABLE players (first_name, last_name, age);

 * sqlite://
Done.

[]

In [3]:
%%sql
INSERT INTO players (first_name, last_name, age) VALUES 
    ('Lebron', 'James', 33),
    ('Steph', 'Curry', 30),
    ('Mike', 'Jordan', 55),
    ('Mike', 'Bibby', 40);

 * sqlite://
4 rows affected.

[]

### Count the # of unique first names in the table

In [4]:
%%sql 
--Select all records from our table 'players', to confirm we inserted rows
SELECT COUNT(DISTINCT(first_name)) FROM players

 * sqlite://
Done.

[(3,)]

In [6]:
def print_something():
    print ('Look at us,', 
    'printing this sentence on multiple lines.')
print_something()

Look at us, printing this sentence on multiple lines.

In [7]:
z=99
if z <100 or \
    z > 0:
    print('True')

True