The following example uses [ipython-sql](https://github.com/catherinedevlin/ipython-sql).
To install:  
pip install ipython-sql  

%sql is a Jupyter magic command and can be ignored when not using Jupyter notebooks.

### Configure SQL for Jupyter notebook

In [3]:
#Load sql
%load_ext sql
#connect to sqlite
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

### Create a table

In [4]:
%%sql
CREATE TABLE players (first_name, last_name, age);

 * sqlite://
Done.

[]

In [5]:
%%sql
INSERT INTO players (first_name, last_name, age) VALUES 
    ('Lebron', 'James', 33),
    ('Steph', 'Curry', 30);

 * sqlite://
2 rows affected.

[]

In [6]:
%%sql 
--Select all records from our table 'players', to confirm we inserted rows
SELECT * FROM players

 * sqlite://
Done.

[('Lebron', 'James', 33), ('Steph', 'Curry', 30)]