### import modules

In [1]:
import pandas as pd
import numpy as np

### create dummy dataframe

In [2]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, columns = ['name', 'age', 'favorite_color', 'grade'])
df

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings   19            red     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel   21          green     70

### get the row and column count of the df

In [3]:
df.shape

(4, 4)

Format is (# rows, # cols), so 4 rows and 4 columns in our example df