The following example uses ipython-sql [1]. To install:  
pip install ipython-sql  

%sql is a Jupyter magic command and can be ignored when not using Jupyter notebooks. 

[1] https://github.com/catherinedevlin/ipython-sql

### Configure SQL for Jupyter notebook

In [1]:
#Load sql
%load_ext sql
#connect to sqlite
%sql sqlite://

'Connected: @None'

### Create a table

In [2]:
%%sql
CREATE TABLE players2 (first_name, last_name, age);
INSERT INTO players2 (first_name, last_name, age) VALUES 
    ('Lebron', 'James', 33),
    ('Steph', 'Curry', 30),
    ('Mike', 'Jordan', 55),
    ('Mike', 'Bibby', 40);

 * sqlite://
Done.
4 rows affected.

[]

### Perform a case statement based on multiple conditions in SQL

In [5]:
%%sql
--Here, we will replace the first name with Goat for all Mikes over 45 years of age
--This is an example of modifying a field in a SQL table based on multiple conditions
SELECT
    CASE WHEN first_name = 'Mike' 
           AND age >45 THEN 'Goat'
           ELSE first_name
    END AS first_name,
    last_name,
    age
FROM players2

 * sqlite://
Done.

[('Lebron', 'James', 33),
 ('Steph', 'Curry', 30),
 ('Goat', 'Jordan', 55),
 ('Mike', 'Bibby', 40)]